:root {
    /* ## Colors */    
    /* ### Primary */
    /* (intro and email sign up background) */
    --dark-Blue-Intro-Email : hsl(217, 28%, 15%);
    /* (main background) */
    --dark-Blue-Main-Bg: hsl(218, 28%, 13%);
    /* (footer background) */
    --dark-Blue-Footer : hsl(216, 53%, 9%);
    /* (testimonials background) */
    --dark-Blue-Testimonial-Bg : hsl(219, 30%, 18%);
    
    /* ### Accent */
    /* (inside call-to-action gradient) */
    --cyan : hsl(176, 68%, 64%);
    /* (inside call-to-action gradient) */
    --blue : hsl(198, 60%, 50%);
    /* (error) */
    --light-Red: hsl(0, 100%, 63%);    
    /* ### Neutral */    
    --white: hsl(0, 0%, 100%);
}
body {
    margin: 5rem 0;
    background-color: var(--dark-Blue-Main-Bg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--white);
}
:target::before {
    content: "";
    display: block;
    height: 80px;
    margin-top: -80px;
}
a {
    text-decoration: none;
    color: var(--white);
}
h1 {
    text-align: center;
}
.header {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--dark-Blue-Testimonial-Bg);
    padding: 1rem;
    background-color: var(--dark-Blue-Testimonial-Bg);
}
.btn {
    padding: .3rem .5rem;
    border-radius: .2rem;
}
.btn--red {
    background-color: var(--light-Red);
}
.btn i {
    margin-right: .25rem;
}
.u-wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.section {
    border-radius: .3rem;
    background: var(--dark-Blue-Testimonial-Bg);
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.container-btn {
    display: flex;
    flex-wrap: wrap;
}
.section-h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}
.section-h3 i {
    margin-right: .5rem;
}
.btn--cyan {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: .7rem;
    background-image: linear-gradient(to right,var(--blue), var(--cyan));
}
@media screen and (min-width: 768px) {
    h1 {
        margin-bottom: 3rem;
    }
    .container-flex {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section {
        width: 30vw;
    }
}
@media screen and (min-width: 1024px) {
    .logo {
        font-size: 1.3rem;
    }
    body {
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-flex {
        flex-wrap: nowrap;
    }
    .btn {
        transition: transform .3s;
    }
    .btn:hover {
        transform: scale(1.05);
    }
}