<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">
</head>

<body>
	<div th:replace="fragments :: header"></div>
	

	<div th:replace="fragments :: aside">
	</div>
	
	 <main class="main">
        <div class="u-wrapper">
            <h3 class="form-title" th:text="'Materia: '+${notes[0].subject.name}+' Curso: '+${notes[0].subject.subjectCourse[0].course.name}"></h3>
            <h3 class="form-title" th:text="'Turno: '+${notes[0].subject.subjectCourse[0].course.turn}+' Ciclo: '+${notes[0].subject.subjectCourse[0].course.ciclo}"></h3>

            <!--DIVISIONES-->
			
			<ul class="ul-periodos">
				<li class="periodos" th:each="per, statPer : ${notes[0].subject.subjectCourse}">
					<a class="periodos-link" th:text="'Division: '+${per.course.division}"
					th:href="@{/materia/detalles/}+${notes[0].subject.id}+'/'+${per.course.id}+'/'+${per.course.coursePeriod[__${#lists.size(per.course.coursePeriod) - 1}__].period}"></a>
				</li>
			</ul>
			<!--periodos-->
			
			<ul class="ul-periodos">
				<li class="periodos" th:each="per, statPer : ${periods}">
					<a if:th="${per.period} !=  ${periods[__${statPer.index} - 1__].period}" class="periodos-link" th:text="'Periodo: '+${per.period}"
					th:href="@{/materia/detalles/}+${notes[0].subject.id}+'/'+${per.course.id}+'/'+${per.period}"></a>
				</li>
			</ul>		
            
            <form method="POST" th:action="@{/materia/notas/guardar/}+ ${notes[0].subject.id}"
                th:object="${notesF}" class="form">
                <div class="content-table">
                <table class="table" >
				<thead>
					<tr>
						<th>Estudiantes</th>
						<th>Estado</th>
						<th>1º Trimestre</th>
						<th>2º Trimestre</th>
						<th>3º Trimestre</th>
						<th>Promedio</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="note, stat : ${notes}">
						<td >
						<a 
						th:text="${note.student.name}"
						class="btn-action btn-action--blue" 
						th:href="@{/alumno/rac/}+ ${note.student.coursePeriod[__${#lists.size(note.student.coursePeriod) - 1}__].id}" role="button"></a>
						</td>
						<td th:text="${note.status}"></td>
						<td >
						<select th:field="*{notes[__${stat.index}__].note1}">
							<option th:each="i : ${#numbers.sequence(0, 10)}"
							th:value="${i}" th:text="${i}"></option>
						</select>
						
						<input
						type="hidden" 
						th:value="${note.id}" 
						th:field="*{notes[__${stat.index}__].id}"
						></td>
						<td  >
						<select th:field="*{notes[__${stat.index}__].note2}">
							<option th:each="i : ${#numbers.sequence(0, 10)}"
							th:value="${i}" th:text="${i}"></option>
						</select>
						</td>
						<td  >
						<select th:field="*{notes[__${stat.index}__].note3}">
							<option th:each="i : ${#numbers.sequence(0, 10)}"
							th:value="${i}" th:text="${i}"></option>
						</select>
						</td>
						<td th:text="*{notes[__${stat.index}__].average}"></td>
					</tr>
				</tbody>
				</table>
                </div>				
				<button type="submit" class="form-btn">Guardar</button>
            </form>
            
            
                
            
        </div>
    </main>
	<script th:src="@{/js/app.js}"></script>
</body>

</html>