<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">
</head>

<body>
	<div th:replace="fragments :: header"></div>
	

	<div th:replace="fragments :: aside">
	</div>
	
	 <main class="main">
        <div class="u-wrapper">
            <form th:action="@{/materia/guardar}" method="POST"
					th:object="${form}" class="form">
                <h3 class="form-title">Agregá una nueva materia</h3>
                <div class="form-group">
                    <div class="form-item">
                        <label for="nombre">Nombre de la Materia: <strong class="camp-obligatorio">*</strong></label>
                        <input type="text" id="nombre" th:field="*{subject.name}">
                        <!-- Muestra mensajes de error de validación -->
						<div class="text-validation" th:if="${#fields.hasErrors('subject.name')}" th:errors="*{subject.name}"></div>
                    </div>
                    
                </div>
                 
                <div class="form-group">
                    <div class="form-item">
                    	<label for="curso">Curso: <strong class="camp-obligatorio">*</strong> </label> 
                        <select id="curso" th:field="*{course.name}"> 
	                        <option th:each="cos : ${courses}"
                            th:value="${cos.id}"
                            th:text="${cos.name}"
                            th:selected="false">
                        </option>							
                        </select>
                        <!-- Muestra mensajes de error de validación -->
						<div class="text-validation" th:if="${#fields.hasErrors('course.name')}" th:errors="*{course.name}"></div>
                    </div>                  
                    <div class="form-item">
                    	<label for="ciclo">Ciclo: <strong class="camp-obligatorio">*</strong> </label> 
                        <select id="ciclo" th:field="*{course.ciclo}">
							<option value="Basico">Básico</option>
							<option value="Superior">Superior</option>
						</select>
                        <!-- Muestra mensajes de error de validación -->
						<div class="text-validation" th:if="${#fields.hasErrors('course.ciclo')}" th:errors="*{course.ciclo}"></div>
                    </div>
                    
                </div>
                                
               
                <button type="submit" class="form-btn">Guardar</button>
            </form>
        </div>
    </main>
	
	<script th:src="@{/js/app.js}"></script>

</body>

</html>