<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./../static/css/style.css"> -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>School Management</title>
</head>
<body>
    <header class="header">
        <a href="#">School Management</a>
        <div class="sign-actions">
          <a class="btn btn--red" href="#"><i class="fas fa-sign-out-alt"></i>Salir</a>
          <!-- <a href="#"><i class="fas fa-sign-in-alt"></i> Entrar</a> -->
        </div>
    </header>

    <main class="main u-wrapper">
        <h1>Bienvenido: Admin</h1>
        <div class="container-flex">
            <section class="section">
                <h3 class="section-h3"><i class="fas fa-user-friends"></i>Alumnos</h3>
                <div class="container-btn">
                    <a class="btn btn--cyan" href="#">Agregar nuevo alumno</a>
                    <a class="btn btn--cyan" href="#">Ver lista de alumnos</a>
                </div>
            </section>
            
            <section class="section">
                <h3 class="section-h3"><i class="fas fa-book"></i>Materias</h3>
                <div class="container-btn">
                    <a class="btn btn--cyan" href="#">Agregar nueva materia</a>
                    <a class="btn btn--cyan" href="#">Ver lista de materias</a>
                </div>
            </section>
    
            <section class="section">
                <h3 class="section-h3"><i class="fas fa-chalkboard-teacher"></i>Cursos</h3>
                <div class="container-btn">
                    <a class="btn btn--cyan" href="#">Agregar nuevo curso</a>
                    <a class="btn btn--cyan" href="#">Ver lista de cursos</a>
                </div>
            </section>

        </div>

    </main>

</body>
</html>