<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">
</head>

<body>
	<div th:replace="fragments :: header"></div>
	

	<div th:replace="fragments :: aside">
	</div>
	
	 <main class="main">
        <div class="wrapper">            
            <h3 class="form-title">Cursos disponibles</h3>
            <div class="card-container">
	            <div class="card" th:each="cos : ${courses}">
	            <img src="/pictures/carusel/carusel1.jpg" class="card-img-top" width="250" height="200"
							alt="Imagen de categoria">
	            	<div class="card-body">
	            		<div class="card-text">
		            		<p class="card-p" th:text="'Curso: ' + ${cos.name}"></p>
		            		<p class="card-p" th:text="'Turno: ' + ${cos.turn}"></p>
	            		</div>
						<a class="card-btn" th:href="@{/curso/detalles/}+ ${cos.id}" role="button">Ver detalles</a>
	            	</div>
	            </div>         
            </div>
        </div>
    </main>
	
</body>

</html>