<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">
</head>

<body>
	<div th:replace="fragments :: header"></div>
	

	<div th:replace="fragments :: aside">
	</div>
	
	 <main class="main">
        <div class="u-wrapper">            
            <h3 class="form-title">Materias disponibles</h3>
            <div class="card-container">
	            <div class="card" th:each="sub : ${subjects}">
	            <img src="https://images.unsplash.com/photo-1532622785990-d2c36a76f5a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" width="100%"
							alt="Materia disponible" title="Materia" > 
	            	<div class="card-body">
	            		<div class="card-text">
		            		<p class="card-p" th:text="'Curso: ' + ${sub.name}"></p>
		            		<p class="card-p" th:text="'Turno: ' + ${sub.turn}"></p>
	            		</div>
						<a class="card-btn" th:href="@{/materia/detalles/}+ ${sub.id}" role="button">Ver detalles</a>
	            	</div>
	            </div>         
            </div>
        </div>
    </main>
    
    <script th:src="@{/js/app.js}"></script>

</body>

</html>